html {
  font-family: 'Roboto', sans-serif;
}

.mdl-card {
  margin-bottom: 1em;
}

.mdl-navigation__link--icon>span,
.mdl-navigation__link--icon>.material-icons {
  margin-right: 0.3em;
  line-height:inherit;
  vertical-align: middle;
}
